body{
    font-family:Arial;
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    margin:0;
    background-color:azure ;
}

.card{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;

}


.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: #ccc; /* Placeholder color */
  }

  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .profile-info {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .profile-links a {
    text-decoration: none;
    color: #333;
    margin: 0 5px;
  }

  .profile-links a:hover {
    text-decoration: underline;
  }